* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/gatoBg.jpg");
    background-size: cover;
}

header {
    width: 100%;
    background-color: rgba(0,0,0,0.80);
    font-size: 3rem;
    text-align: right;
    color: red;
    padding: 1% 2%;
}

h1 {
    font-family: 'Shojumaru', cursive;
    color: red;
}

h2{
    background-color: rgba(0,0,0,0.80);
    font-family: 'Shojumaru', cursive;
    color: red;
    margin: 1%;
    padding: 1%;
}

.characterTitles {
    margin:1% 0;
}

.userTitle {
    float: left;
    display:inline;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.challengerTitle {
    float: right;
    display:inline;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.userWindow {
    width: 45%;
    float: left;
    margin: auto;
}

.challengerWindow {
    width: 45%;
    float: right;
    margin: auto;
}

.characterCard {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgba(0,0,0,0.80);
    margin: 1% auto;
}

.characterNameSpace {
    width: 50%;
    height: 20%;
}

#userChar, #chalChar {
    /*font-family: 'Acme', sans-serif;*/
    font-family: 'Shojumaru', cursive;
    font-size: 1.5em;
    color: red;
    text-align: center;
    padding-top: 5%;
}

#userImg, #chalImg {
    position: absolute;
    width: 40%;
    height: 75%;
    float: left;
    margin-left: 5%;
}

#userQuote, #userHealth, #userFightInfo, #chalQuote, #chalHealth, #chalFightInfo {
    width: 50%;
    float: right;
    font-family: 'Acme', sans-serif;
    color: red;
}

.disabled {
    position: relative;
    display: inline;
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,0.80);
    margin: 0.5%;
    opacity: 30%;
}

.fightScene {
    width: 10%;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 0.5% 0;
    background-color: rgba(0,0,0,0.80);
}

button {
    font-family: 'Shojumaru', cursive;
    margin-top: 50%;
}

.opponentTitle {
    clear: both;
    text-align: center;
}

.opponentLineUp {
    width: 100%;
    margin: auto;
    clear: both;
}

.opponentCard {
    position: relative;
    display: inline;
    float: left;
    width: 200px;
    height: 220px;
    background-color: rgba(0,0,0,0.80);
    margin: 0.5%;
}

.opponentNameSpace {
    height: 20%;
}

#kamaName, #craneName, #rockName, #gatoName {
    font-family: 'Shojumaru', cursive;
    font-size: 1.25em;
    color: red;
    text-align: center;
    padding-top: 5%;
}

#kamaImg, #craneImg, #rockImg, #gatoImg {
    position: absolute;
    width: 80%;
    height: 65%;
    margin-left: 10%;
}

.health {
    color: red;
    font-family: 'Acme', sans-serif;
    text-align: center;
    margin-top: 75%;
}

