* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/gatoBg.jpg");
    background-size: cover;
}

header {
    width: 100%;
    background-color: rgba(0,0,0,0.80);
    font-size: 3rem;
    text-align: right;
    color: red;
    padding: 1% 2%;
}

h1 {
    font-family: 'Shojumaru', cursive;
    color: red;
}

h2{
    background-color: rgba(0,0,0,0.80);
    font-family: 'Shojumaru', cursive;
    color: red;
    margin: 1%;
    padding: 1%;
}

p {
    font-family: 'Yeon Sung', cursive;
}

.characterTitles {
    margin:1% 0;
}

.userTitle {
    float: left;
    display:inline;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.challengerTitle {
    float: right;
    display:inline;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.userWindow {
    width: 45%;
    float: left;
    margin: auto;
}

.challengerWindow {
    width: 45%;
    float: right;
    margin: auto;
}

.characterCard {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgba(0,0,0,0.80);
    margin: 1% auto;
}

.characterNameSpace {
    width: 50%;
    height: 20%;
}

.characterName {
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    color: red;
    text-align: center;
    padding-top: 5%;
}

.characterImg {
    position: absolute;
    width: 40%;
    height: 75%;
    float: left;
    margin-left: 5%;
}

.characterQuote, #userHealth, #userAttack, #userCntAttack {
    width: 50%;
    float: right;
    font-family: 'Acme', sans-serif;
    color: red;
}

.fightScene {
    width: 10%;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 0.5% 0;
    background-color: rgba(0,0,0,0.80);
}

button {
    font-family: 'Shojumaru', cursive;
}

.opponentTitle {
    clear: both;
    text-align: center;
}

.opponentLineUp {
    width: 100%;
    margin: auto;
    clear: both;
}

.opponentCard {
    display: inline;
    float: left;
    position: relative;
    width: 400px;
    height: 200px;
    background-color: rgba(0,0,0,0.80);
    margin: 0.5%;
}

